# Required
CLAUDE_API_KEY=
SELDONFRAME_API_KEY=seldon_max_2026
SELDONFRAME_API_URL=https://app.seldonframe.com/api/v1/workspace/create

# Optional fallback (only if API key is not provided)
SELDONFRAME_SESSION_COOKIE=authjs.session-token=
SELDONFRAME_UPGRADE_URL=https://app.seldonframe.com/pricing
SELDONFRAME_PRO_PRICE_ID=price_1TMC7UJOtNZA0x7xNrl2VDVE
SELDONFRAME_SELF_SERVICE_PRICE_ID=price_1TNY81JOtNZA0x7xsulCSP6x
